{% extends 'base.html.twig' %}

{% block title %}Hello MenController!{% endblock %}

{% block body %}
    <h1 class="text-center">Homme</h1>
    <img  class="d-block m-auto w-50" src="{{ asset('libs/images/04.jpg') }}" alt="...">
{% endblock %}
