<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="../../public/css/index.css">

    <title></title>
</head>
<body class="bg-vert">
<div class="d-flex">
    <nav class="bg-marron navbar-light text-center d-none" id="navigation" role="navigation">
        <div class="h-100 d-flex flex-column justify-content-between" id="navbarNav">
            <div>
                <a class="navbar-brand" href="../../index.html"><img src="../../public/img/tasseCafe64.png"></a>
                <ul class="nav navbar-light flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="panier.html">Mon panier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="connexion.html">Connexion<span class="d-none d-lg-block m-0">/Inscription</span></a>
                    </li>
                    <li class="nav-item d-lg-none">
                        <a class="nav-link" href="inscription.html">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link active" href="selection.html">Sélection de la semaine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="plusvendus.html">Les + vendus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosproduits.html">Tous nos produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ajoutcafe.html">Ajout Café</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="modifcafe.html">Modification Café</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Déconnexion</a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-light flex-column footer">
                <li class="nav-item text-light">
                    SARL Paradise Coffee<br/>
                    87 rue des Fleurs <br/>
                    54000 NANCY
                </li>
                <li class="nav-item text-light">
                    Contact:<br/>
                    paradise.coffee@aol.fr
                </li>
            </ul>
        </div>
    </nav>
</div>
<div>
    <div id="croix" class="d-none">
        <i class="fa fa-times"></i>
    </div>
    <div id="plus">
        <i class="fa fa-bars"></i>
    </div>
</div>
<div class="container">
    <div class="arr_plan justify-content-center">
        <h1 class="text-center titre">Admin: Modification Café</h1>
        <form method="post" action="ajoutcafe.html" enctype="multipart/form-data">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div >
                        <label for="nomCafe" class="col-form-label">Nom du Café :</label>
                        <input type="text" name="nomCafe" id="nomCafe" class="form-control ">
                    </div>
                    <div>
                        <label for="paysCafe" class="col-form-label">Provenance :</label>
                        <input type="text" name="paysCafe" id="paysCafe" class="form-control ">
                    </div>
                    <div>
                        <label for="type" class="labelcafe col-form-label">Type :</label>
                        <select name="type" id="type" class="form-control w-50">
                            <option value="En grain">En grain</option>
                            <option value="Moulu">Moulu</option>
                        </select>
                    </div>
                    <div class="mt-3 d-flex justify-content-between">
                        <div class="form-check form-check-inline">
                            <label for="decaffeine" class="mr-3 col-form-label">Décafféiné :</label>
                            <input type="checkbox" value="Decaffeine" id="decaffeine">
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="bio" class="mr-3 col-form-label">Bio :</label>
                            <input type="checkbox" value="Bio" id="bio">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="mt-3">
                            <label for="prix" class="labelcafe">Prix :</label>
                            <input type="number" name="prix" id="prix" class="form-control">
                        </div>
                        <div class="mt-3">
                            <div class="form-check form-check-inline">
                                <label for="bio" class="mr-3 col-form-label">Epuisé :</label>
                                <input type="checkbox" value="Bio" id="bio">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div>
                        <label for="resume" class="col-form-label">Résumé :</label>
                        <input type="text" name="resume" id="resume" class="form-control">
                    </div>
                    <div>
                        <label for="description" class="col-form-label">Description :</label>
                        <textarea name="description" id="description" class="form-control"></textarea>
                    </div>
                    <div class="mt-3">
                        <label for="image" class="col-form-label">Photos :</label>
                        <input type="file" name="image" id="image" class="w-100"/>
                    </div>
                    <div class="mt-5">
                        <button type="submit" class="btn btn-marron">Ajouter</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <img src="../../public/img/cafe-vrac.png" class="w-25"/>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../../public/js/index.js"></script>
</body>
</html>