<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="../../public/css/index.css">

    <title></title>
</head>
<body class="bg-vert">
<div class="d-flex">
    <nav class="bg-marron navbar-light text-center d-none" id="navigation" role="navigation">
        <div class="h-100 d-flex flex-column justify-content-between" id="navbarNav">
            <div>
                <a class="navbar-brand" href="../../index.html"><img src="../../public/img/tasseCafe64.png"></a>
                <ul class="nav navbar-light flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="panier.html">Mon panier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="connexion.html">Connexion<span class="d-none d-lg-block m-0">/Inscription</span></a>
                    </li>
                    <li class="nav-item d-lg-none">
                        <a class="nav-link" href="inscription.html">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link active" href="selection.html">Sélection de la semaine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="plusvendus.html">Les + vendus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosproduits.html">Tous nos produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ajoutcafe.html">Ajout Café</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="modifcafe.html">Modification Café</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Déconnexion</a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-light flex-column footer">
                <li class="nav-item text-light">
                    SARL Paradise Coffee<br/>
                    87 rue des Fleurs <br/>
                    54000 NANCY
                </li>
                <li class="nav-item text-light">
                    Contact:<br/>
                    paradise.coffee@aol.fr
                </li>
            </ul>
        </div>
    </nav>
</div>
<div>
    <div id="croix" class="d-none">
        <i class="fa fa-times"></i>
    </div>
    <div id="plus">
        <i class="fa fa-bars"></i>
    </div>
</div>
    <div class="container">
        <div class="arr_plan justify-content-center">
            <h1 class="text-center titre"><img src="../../public/img/panier.png">Mon panier<img src="../../public/img/panier.png"></h1>
            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 m-auto">
                    <table class="table">
                        <thead class= "bg-marron">
                        <tr class="text-light">
                            <th scope="col">Nom du produit</th>
                            <th scope="col" class="w-30">Quantité</th>
                            <th scope="col">Action</th>
                            <th scope="col">Prix</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="bg-wheat">
                            <td scope="col">Arabica</td>
                            <td scope="col"><form method="post" action="adresse_paiement.html"><input type="number" style="border: 0" value="1" maxlength="3" class="w-30 bg-wheat"></td>
                            <td scope="col"><img src="../../public/img/poubelle.png"></td>
                            <td scope="col">8€</td>
                        </tr>
                        <tr class="bg-wheat">
                            <td scope="col">Robusta</td>
                            <td scope="col"><input type="number" value="1" style="border: 0" maxlength="3" class="w-30 bg-wheat"></td>
                            <td scope="col"><img src="../../public/img/poubelle.png"></td>
                            <td scope="col">9€</td>

                        </tr>
                        <tr class="bg-wheat">
                            <td scope="col">Echantillon</td>
                            <td scope="col"><input type="number" value="1" style="border: 0" maxlength="3" class="w-30 bg-wheat"></td>
                            <td scope="col"><img src="../../public/img/poubelle.png"></td>
                            <td scope="col">0€</td>

                        </tr>
                        <tr class="bg-wheat">
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Total :</th>
                            <th scope="col">17€</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex flex-column justify-content-between">
                            <div class=" d-flex justify-content-between">
                                <button type="button" class="btn btn-marron">Annuler</button>
                                <button type="submit" class="btn btn-marron">Payer</button>
                            </div>
                            <div class="mt-3">
                                Statut: Non connecté, cliquer <a href="connexion.html" class=" btn-sm btn-marron">Ici</a>
                            </div>
                </form>
            </div>
        </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../../public/js/index.js"></script>
</body>
</html>