{% extends 'base.html.twig' %}

{% block title %}Hello WomenController!{% endblock %}

{% block body %}
    <h1 class="text-center">Femme</h1>
    <img class="d-block m-auto" src="{{ asset('libs/images/01.jpg') }}" alt="...">
{% endblock %}