{% extends 'base.html.twig' %}

{% block title %}Hello PayController!{% endblock %}
{% block header %}{% endblock %}

{% block body %}
    <h1 class="align-center mbr-section-title mbr-fonts-style align-left mbr-pb-2 display-1 ">Payment</h1>
   <div class="mbr-row">
        <div class="mbr-col-lg-6 mbr-col-md-6 mbr-col-sm-12 m-auto">
        {{ form_start(form) }}
        {{ form_end(form) }}
        <a href="{{ path('command') }}" class="btn btn-black ml-4">Command</a>
        </div>
   </div>
{% endblock %}
