.bg-fond-bleu
{
    background-image: url("../images/fond-bleu.jpg");
}

.bg-gris
{
    background-color: rgba(42,73,101,0.5)
}

.text-black
{
    color:black;
}

#plus
{
    cursor: pointer;
}

.fa-envelope-open
{
   color:black;
}

.fa-envelope
{
    color: gray;
}