.bg-fond-bleu
{
    background-image: url("../images/fond-bleu.jpg");
}

.bg-gris
{
    background-color: rgba(42,73,101,0.5)
}

.text-black
{
    color:black;
}

#plus
{
    cursor: pointer;
}

.fa-envelope-open
{
   color:black;
}

.fa-envelope
{
    color: gray;
}

.w-15
{
    width:15%;
}

.w-20
{
    width:20%;
}

.lien
{
    cursor: pointer;
}

.color-gray
{
    color:gray;
}

.color-black
{
    color:black;
}

.color-red
{
    color:red;
}

i:hover
{
    color: royalblue;
}

.page-item.active .page-link{z-index:3;color:#fff;background-image:url("../images/fond-bleu.jpg");border-color:darkblue}