{% extends 'base.html.twig' %}

{% block title %}New LivAddress{% endblock %}

{% block body %}
    <h1 class=" align-center mbr-section-title mbr-fonts-style align-left mbr-pb-2 display-1">New Delivery Address</h1>
    <div class="mbr-col-lg-6 mbr-col-md-6 mbr-col-sm-12 mx-auto">
    {{ include('liv_address/_form.html.twig') }}
    </div>
{% endblock %}
