{% extends 'base.html.twig' %}

{% block title %}Profil!{% endblock %}

{% block body %}
    <div class="mbr-col-lg-3 mbr-col-md-4 mbr-col-sm-6">
        <ul>
            <li><a href="{{ path('panier') }}">Panier</a></li>
        </ul>
    </div>
{% endblock %}
