{% extends 'base.html.twig' %}

{% block title %}Profil!{% endblock %}
{% block header %}{% endblock %}

{% block body %}
    <div class="mbr-col-lg-3 mbr-col-md-4 mbr-col-sm-6">
        <ul>
            <li><a href="{{ path('panier') }}">My Cart</a></li>
            <li><a href="{{ path('modifinfos') }}">Update account's information</a></li>
        </ul>
    </div>
{% endblock %}
